import React from 'react';
import { SissiLink } from 'sissi-guides';

import Section from './Section';

const Page = ({
  global,
  page,
  pages,
  sections,
}) => (
  <div className='sissi-main'>

    <img src={`/images/${global.logo}`} className='sissi-logo'/>
    <h1 className='sissi-heading'>
      Your new sissi website <span className='sissi-name'>{global.title}</span> is ready!
    </h1>
    <h2 className='sissi-heading'>{global.welcomeText}</h2>

    <%_ if (!IS_SINGLE_PAGE) { _%>
    <nav className='sissi-nav'>
      {pages.map(navPage => (
        <SissiLink
          key={navPage.path}
          to={`/${navPage.path}`}
          className='sissi-nav-link'
          activeClassName='sissi-nav-link--active'
          exact
        >{navPage.title}</SissiLink>
      ))}
    </nav>

    <%_ } _%>
    <div className='sissi-wrapper'>
      {sections.map(section => <Section key={section._id} {...section} />)}
    </div>

  </div>
);

export default Page;
